<ion-view view-title="关于" hide-tabs="true" hide-back-button="false">
	<ion-content overflow-scroll="false" class="padding">
		<div class="ub ub-ver ub-ac">
			<div class="logo-box">
	        	<img src="./img/account/about-logo.png"/>
	        </div>	
	     	<h4>即有培训</h4>
	     	<p></p>
	     	<p class="fs12 indent2">
	     		即有培训是前海达飞金融有限公司为销售员工打造的移动端的在线学习和线下培训管理应用。在这里，你可以
	     		在线观看大量精品课程；你可以随时随地了解培训动态；你可以评价讲师或像讲师请教。
	     	</p>
	     	<p class="fs12 indent2">
	     		即有培训是达飞推出的销售管理平台，聚合了优质教育机构和讲师的海量课程资源，即有培训提供流畅、高音质
	     		的课程直播效果；同时让员工及时了解培训课程动态，培训现场签到，培训交流，实时考核，达飞创建的在线培训
	     		平台--即有培训，依托互联网，打破地域的限制，让销售员工可以随时学习，方便员工与讲师培训管理，让每个
	     		立志学习，有梦想的员工，都能接受优质教师的指导和教学；同时希望给优质的讲师一个展示的平台。
	     	</p>
	     	<p class="fs12 indent2 full-image">即有培训，让学习不再等待！</p>
		</div>
	</ion-content>
    <ion-footer-bar align-title="center" class="zc-bar">
        <p class="title fs12">深圳前海达飞金融服务有限公司 版权所有</p>
    </ion-footer-bar>	
</ion-view>
