<ion-view view-title="修改密码" hide-tabs="true" hide-back-button="false">
	<ion-content overflow-scroll="false">
		<div class="list padding-top">
			<div class="item-input">
			    <label class="col col-25 fs14">原密码</label>
			    <input type="password" placeholder="请输入您的原密码">
			</div>   
			<div class="item-input">
			    <label class="col col-25 fs14">新密码</label>
			    <input type="password" placeholder="请输入您的新密码">
			</div>   
			<div class="item-input">
			    <label class="col col-25 fs14">新密码</label>
			    <input type="password" placeholder="再次请输入您的新密码">
			</div> 
		</div>
		<div class="ub ub-ac ub-pc">
         <button class="button button-clear button-small button-default fs14 col col-90">提交</button>	
        </div>
	</ion-content>
</ion-view>
