<ion-view view-title="积分详情" hide-tabs="true">
  <ion-content>
	<ion-list class="list-borderless">
	    <ion-item>
	    	<div class="row row-no-padding ">
	    		<div class="col col-28">
	    			<img class="full-image" src="./img/learn/learn1.png"/>
	    		</div>
	    		<div class="col col-60 padding5-left">
	    			<h3 class="lh27">新员工入职培训考核</h3>
	    			<p>2016/7/28</p>
	    		</div>
	    		<div class="col col-center assertive">+2</div>
	    	</div>
	    </ion-item>
	    <ion-item>
	    	<div class="row row-no-padding ">
	    		<div class="col col-28">
	    			<img class="full-image" src="./img/learn/learn2.png"/>
	    		</div>
	    		<div class="col col-60 padding5-left">
	    			<h3 class="lh27">销售成交九步法_课件</h3>
	    			<p>2016/8/28</p>
	    		</div>
	    		<div class="col col-center assertive">+3</div>
	    	</div>
	    </ion-item>
	    <ion-item>
	    	<div class="row row-no-padding ">
	    		<div class="col col-28">
	    			<img class="full-image" src="./img/learn/learn3.png"/>
	    		</div>
	    		<div class="col col-60 padding5-left">
	    			<h3 class="lh27">销售技巧全攻略_课件</h3>
	    			<p>2016/9/28</p>
	    		</div>
	    		<div class="col col-center assertive">+5</div>
	    	</div>
	    </ion-item>
	</ion-list>      
  </ion-content>
</ion-view>
