<ion-view view-title="个人中心" hide-tabs="false" hide-back-button="true">
    <ion-content>
        <ion-refresher on-refresh="doRefresh()" pulling-text="下拉刷新" refreshing-text="加载中..."></ion-refresher>
        <div class=" ub ub-ac ub-pc ub-img1 account-box ub-ver">
        	<div class="headDiv">
            <img class="head-img" src="{{headImg |renderLitPic:'./img/account/head.png'}}" err-Src="./img/account/head.png" id="headImg" ng-click="showActionSheet()"/>
        	</div>
            <div class="light fs16 padding5-vertical">{{userName}}</div>
            <p class="light full-image text-center">工号: {{userId}}</p>
            <div class="ub full-image light">
                <div class="col text-center vm fs16">
                    <img src="./img/account/train.png" />
                    <span>{{courses}}</span>
                </div>
                <div class="col text-center vm fs16" ng-show="isShowPoints">
                    <div>
                        <img src="./img/account/integral.png" />
                        <span>{{points}}</span>
                    </div>
                </div>
                <div class="col text-center vm fs16" ng-show="isShowLikes">
                    <div>
                        <img src="./img/account/zan.png" />
                        <span>{{likes}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a href="#/app/myLearn" class="ub col col-33 ub-ac ub-pc ub-ver padding30-top">
                <img src="./img/account/myLearn.png" />
                <div class="fs13 sub-ft">我的课程</div>
            </a>
            <a href="#/app/integral" class="ub col col-33 ub-ac ub-pc ub-ver padding30-top">
                <img src="./img/account/myIntegral.png" />
                <div class="fs13 sub-ft">积分管理</div>
            </a>
            <a href="#/app/surveyList/0" class="ub col col-33 ub-ac ub-pc ub-ver padding30-top">
                <img src="./img/account/mySurvey .png" />
                <div class="fs13 sub-ft">需求调研</div>
                <a>
        </div>
        <div class="row">
            <a href="#/app/myTrain/0" class="ub col col-33 ub-ac ub-pc ub-ver padding30-top" ng-show="{{role=='t'?true:false}}">
                <!--讲师身份显示才显示我的培训-->
                <img src="./img/account/mytrain.png" />
                <div class="fs13 sub-ft">我的培训</div>
            </a>
            <a href="#/app/setting" class="ub col col-33 ub-ac ub-pc ub-ver padding30-top">
                <img src="./img/account/setting.png" />
                <div class="fs13 sub-ft">个人设置</div>
            </a>
        </div>
    </ion-content>
</ion-view>
