<ion-view view-title="我的课程" hide-tabs="false" hide-back-button="false">	
    <ion-tabs class="tabs-top tabs-striped">
        <ion-tab title="必修课程" href="#/app/myLearn/required">
            <ion-nav-view name="tab-myLearn-required"></ion-nav-view>
        </ion-tab>
        <ion-tab title="选修课程" href="#/app/myLearn/selective">
            <ion-nav-view name="tab-myLearn-selective"></ion-nav-view>
        </ion-tab>
        <ion-tab title="专题课程" href="#/app/myLearn/subject">
            <ion-nav-view name="tab-myLearn-subject"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>