<ion-view view-title="培训详情" hide-nav-bar="false" hide-tabs="true" hide-back-button="true"> 
    <ion-nav-buttons side="left">
        <button class="button bg-default" ng-click="goBack()"><i class="icon ion-ios-arrow-left light"></i></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button bg-default" ng-click="signed()"><i class="icon ion-qr-scanner light"></i></button>
    </ion-nav-buttons>
    <ion-content bindonce="trainModel" lazy-scroll>
        <ion-refresher on-refresh="doRefresh()" pulling-text="下拉刷新" refreshing-text="加载中..."></ion-refresher>
        <div class="padding5 item not-train">
            <!--课程信息-->
            <div class="ub padding5-vertical">
                <div class="col col-36">
                    <img class="full-image" lazy-src="{{trainModel.imgUrl}}" />
                </div>
                <div class="col col-bottom trainInfo fs12 {{trainModel.state==0?'sub-ft':''}}">
                    <!--未培训保留sub-ft,已培训去掉sub-ft-->
                    <h2 class="bold">{{trainModel.name}}</h2>
                    <h3>讲师：{{trainModel.lecturer}}</h3>
                    <h3>参加人数：{{trainModel.number}}</h3>
                    <h3>时间：{{trainModel.datetime}}</h3>
                    <h3 class=" no-ellipsis ub">
                    <div class="">地点：</div>
                    <div class="ub-f1">
                        {{trainModel.address}}
                    </div>
                   </h3>
                </div>
            </div>
        </div>
        <!--培训内容-->
        <div class="padding item not-train">
            <h5 class="fs14 padding-bottom">培训内容</h5>
            <p class="fs12 no-ellipsis">{{trainModel.desc}}</p>
            <!--未培训显示三个按钮-->
            <div class="row btn-group" style="{{trainModel.state<4?'':'display:none'}}">
                <div class="col padding-horizontal" style="{{(trainModel.isExamination===true && trainModel.state===3)?'':'display:none'}}"><a ng-click="showConfirm(1);" class="button button-block button-small button-default button-clear">考   试</a></div>
                <div class="col padding-horizontal" style="{{trainModel.state===1?'':'display:none'}}">
                    <button class="button button-block button-small button-default button-clear" ng-click="operUrl(3)">培训反馈</button>
                </div>
                <div class="col padding-horizontal" style="{{(trainModel.isAssessment===true && trainModel.state===2)?'':'display:none'}}">
                    <button class="button button-block button-small button-default button-clear" ng-click="operUrl(4)">导师评估</button>
                </div>
            </div>
            <!--已培训只显示一个按钮-->
            <div class="row btn-group" style="{{trainModel.state===4?'':'display:none'}}" ng-click="examDetails(1)">
                <div class="col col-50 col-offset-25 padding-horizontal"><a class="button button-block button-small button-default button-clear">考核分数： {{trainModel.score}}分</a></div>
            </div>
        </div>
        <!--学员评价-->
        <div class="padding estimate">
            <div class="ub ub-ac padding-bottom">
                <div class="ub-f1 dark">学员评价</div>
                <div class="vm" style="{{trainModel.state===4?'':'display:none'}}" ng-click="addLikes()"><img src="./img/train/thumbsup.png"></img><span class="fs16 Dark">{{trainModel.likes}}</span></div>
                <!--已培训时显示获赞数-->
            </div>
            <ion-list class="list-borderless">
                <ion-item class="padding-bottom" bindonce ng-repeat="item in commentsList">
                    <div class="row row-no-padding padding5-bottom">
                        <img class="padding-right" lazy-src="{{item.avatar}}" />
                        <h3 class="col ub ub-ac" bo-text="item.name">田小田</h3>
                    </div>
                    <h3 class="padding-top no-ellipsis" bo-text="item.content">非常棒！理论和实际结合得很好，也有案例。真心赞一个~~~</h3>
                    <div class="ub ub-ac sub-ft">
                        <div class="ub-f1 fs12">学习进度： {{item.progress}}%</div>
                        <div class="fs12" bo-text="item.datetime">2010-8-28</div>
                    </div>
                </ion-item>
            </ion-list>
        </div>
        <ion-infinite-scroll ng-if="more" icon="ion-loading-c" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar class="sub-subfooter">
        <label class="item-input-wrapper">
            <input class="full-image" type="text" ng-model="commentsModel.content" placeholder="输入您的评论">
        </label>
        <button class="button button-default button-small" ng-click="addComments(commentsModel)">发送</button>
    </ion-footer-bar>
</ion-view>
