<ion-tabs class="tabs-icon-top tabs-color-active-positive {{hideTabs}}">

  <!-- 首页 Tab -->
  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/app/home">
    <ion-nav-view name="app-home"></ion-nav-view>
  </ion-tab>

  <!-- 学习管理 Tab -->
  <ion-tab title="学习管理" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/app/learn">
    <ion-nav-view name="app-learn"></ion-nav-view>
  </ion-tab>

  <!-- 培训管理 Tab -->
  <ion-tab title="培训管理" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/app/train">
    <ion-nav-view name="app-train"></ion-nav-view>
  </ion-tab>

  <!-- 个人中心 Tab -->
  <ion-tab title="个人中心" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/app/account">
    <ion-nav-view name="app-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
